@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');


.star-rating i {
	color: red;
	font-size: 24px;
}
.slider {
  display: flex;
  align-items: center;
  width: 100%;
}

.slider .slider-item {
  display: flex;
  width: calc(100% - 100px);
  padding: 20px;
}

.slider>button {
  width: 30px;
  height: 30px;
}

.product-image>img {
  width: 500px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-item>.product-image>img {
  width: 100%;
}
.product-title, .price {
  text-transform: UPPERCASE;
  font-weight: bold; }
  .price span {
    color: #ff9f1a; 
  font-weight: normal;}

  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }

